<%= render('layouts/errors', :object => @answer) %>

<%= form_for [@question, @answer] do |f| %>
  <%= f.label :user %>
  <%= f.text_field :user %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <p><%= f.submit %></p>
<% end %>
